# don't include any output/bin directories (public/ is for hugo)
public/*
bin/*

# don't include the ./website helper binary
website

# don't include config files
ssh.config

# don't include IDE files
.vscode/*

# don't include environment files
.env

# node modules
node_modules/