/* hide mobile menu and button for desktop-sized screens */
#menu.mobile-menu {
    display: none;
}
#mobile-menu-button {
    display: none;
}

/* show mobile menu (and hide desktop menu) for mobile-sized screens, hide desktop menu */
@media screen and (max-width: 800px) {
    #menu {
        display: none;
    }

    #menu.mobile-menu {
        display: block;
        text-align: center;

        /*
         *  We use a hack here to get a simple height-animation to work.
         *  Height of `auto` can't be animated, but max-height can be so
         *  we set a larger-than-expected max-height and animate that.
         *  See here: https://css-tricks.com/using-css-transitions-auto-dimensions/#aa-technique-1-max-height
        */
        max-height: 0; /* Start fully closed */
        overflow: hidden; /* Hide overflowing content during animation */
        opacity: 0;
        transition: max-height 0.7s ease-in-out, opacity 1.5s; /* Smoothly animate max-height */
    }

    #menu.mobile-menu.open {
        max-height: 200px; /* Arbitrary large value */
        opacity: 1;
    }

    #menu.mobile-menu li {
        margin-inline-start: var(--gap);
    }
    
    #mobile-menu-button {
        display: block;
        margin: auto var(--primary-color);
        cursor: pointer;
    }

    #mobile-menu-button div {
        width: 40px;
        height: 4px;
        margin: 6px;
        background-color: currentColor;
        transition: 0.7s
    }

    .open > #menu-button-bar-1 {
        transform: rotate(45deg) translate(6px, 8px);
    }

    .open > #menu-button-bar-2 {
        opacity: 0;
    }

    .open > #menu-button-bar-3 {
        transform: rotate(-45deg) translate(6px, -8px);
    }
}

/* Used to have menu items be underlined on hover */
.underline-link:hover {
    border-bottom: 2px solid currentColor;
}

/* Taken with modification with terms.css to render the categories buttons */
ul.categories-buttons {
    margin-top: 20px;
}

.categories-buttons li {
    display: inline-block;
    font-weight: 500;
}

/* The first li button shouldn't have start margin so it doesn't start offset, the rest should */
.categories-buttons li:not(:first-child) {
    margin: 5px;
}
.categories-buttons li:first-child {
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.categories-buttons a {
    display: block;
    padding: 3px 10px;
    background: var(--tertiary);
    border-radius: 6px;
    border: 3px solid transparent; /* Reserve space for the border */
    box-sizing: border-box;
    transition: transform 0.1s ease, border 0.1s ease;
}

.categories-buttons a:hover {
    border: 3px solid;
}

a.active {
    border: 3px solid;
}

.categories-buttons a:active {
    background: var(--tertiary);
    transform: scale(0.96);
    border: 3px solid;
}

/* Animation toggle styles */
#animation-toggle {
    font-size: 26px;
    margin: auto 4px;
}

body.animations-disabled #animation-on {
    display: none;
}

body:not(.animations-disabled) #animation-off {
    display: none;
}

#animation-toggle:focus {
    outline: 0;
}

/* 
    Theme toggle icon override:
    By default the theme sets the sun to be visible in darkmode
    (indicating to go to lightmode), whereas I want the sun to
    be visible in lightmode (indicating you're currently in lightmode). 
 */
body.dark #moon {
    display: inline;
    vertical-align: middle;
    transform: translate(0, -10%);
    border-radius: 6px;
    margin-inline-end: 8px;
}

body.dark #sun {
    display: none;
}

body:not(.dark) #moon {
    display: none;
}

body:not(.dark) #sun {
    display: inline;
    vertical-align: middle;
    transform: translate(0, -10%);
    border-radius: 6px;
    margin-inline-end: 8px;
}
